<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Houses</title>
  <link rel="stylesheet" href="bootstrap.css">
  <script src="angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="houses2.js"></script>
</head>

<style>
    .row{
        line-height: 60px;
    }
    .odd{
        background-color: #c3c3c3;

    }
    h4{
        line-height: 60px;
        margin: 0px;
    }
    
</style>

<body ng-controller = "myController">
  <div class="container" ng-show="view=='list'">
        <div class="row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat = "house in houses">
            <div class="col-md-3">
                <h3>{{$index+1}}</h3>
            </div>
            <div class="col-md-3">
                <h4>{{house.title}}</h4>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h4>{{house.street_address}}</h4>
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger" ng-click="deleteListing($index)">Delete</button>
            </div>  
            <div class="col-md-1">
                <button class="btn btn-primary" ng-click="editListing($index)">Edit</button>
            </div>


        </div>
  </div>
  <div class="container" ng-show="view=='edit'">
    <form ng-submit="updateListing($index)">
        <h3>Name: <input type="text" placeholder="{{home.title}}" ng-model="title"></h3>
        <h3>Address: <input type="text" placeholder="{{home.street_address}}" ng-model="street_address"></h3>
        <h3>City/State/Zip: <input type="text" placeholder="{{home.city_state_zip}}" ng-model="city_state_zip"></h3>
        <h3>List Price <input type="text" placeholder="{{home.price}}" ng-model="price"></h3>
        <h3>Zestimate: <input type="text" placeholder="{{home.zestimate}}" ng-model="zestimate"></h3>
        <h3>Deal Type: <input type="text" placeholder="{{home.type_of_deal}}" ng-model="type_of_deal"></h3>
        <h3>Mortgage Payment: <input type="text" placeholder="{{home.mortgage}}" ng-model="mortage"></h3>





        <button class="btn btn-danger" ng-click="listView()">Cancel</button>
        <input type="submit" class="btn btn-primary">
  </div>
</body>